/* ------------------------ INDEX.HTML ------------------------ */
/* ------------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Londrina Solid', cursive;
    scroll-behavior: smooth;
}

/* NAVIGATION BAR */

.navbar {
    background: #F5F0F6;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    font-weight: 700;
    background-color: #8F754F;
    background-image: linear-gradient(to top, #8F754F 0%, #D7B377 100%); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.fa-pepper-hot {
    margin: 0 0.3rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    text-transform: uppercase;
    font-weight: 400;
    color: #D7B377;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 3rem;
    height: 100%;
}

.navbar__links:hover {
    color: #8F754F;
    transition: all 0.4s ease;
}


/* NAVBAR - MEDIA QUERIES */

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: center;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        background: #F5F0F6;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        top: 0;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #F5F0F6;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 30px;
        height: 4px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #D7B377;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        justify-content: center;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    /*  Function to turn the hamburger menu bars into a cross when actioned;
    credits: https://www.geeksforgeeks.org/how-to-convert-the-hamburger-icon-of-navigation-menu-to-x-on-click/ */

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}

/* HERO SECTION */

.main {
    background-color: #F5F0F6;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #F5F0F6;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 80px;
}

.main__content h1 {
    text-transform: uppercase;
    font-size: 6rem;
    background-color: #57CC99;
    background-image: linear-gradient(to top, #57CC99 0%, #19647E 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    text-transform: uppercase;
    font-size: 6rem;
    background-color: #8F754F;
    background-image: linear-gradient(to top, #8F754F 0%, #D7B377 100%); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__btn {
    text-transform: uppercase;
    font-size: 2rem;
    background-image: linear-gradient(to top, #D7B377 0%, #D7B377 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #8F754F;
    transition: all 0.4s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__content__img {
    text-align: center;
}

#main__img {
    height: 100%;
    width: 100%;
}


/* HERO SECTION - MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 4.5rem;
        margin-top: 4rem;
    }

    .main__content h2 {
        font-size: 4.5rem;
    }
    
    .main__btn {
        font-size: 1.8rem;
        padding: 12px 36px;
        margin: 1rem 1rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 3.5rem;
        margin-top: 4rem;
    }

    .main__content h2 {
        font-size: 3.5rem;
    }

    .main__btn {
        font-size: 1.5rem;
        padding: 10px 32px;
        margin: 1rem 0;
    }
}

/* SERVICES SECTION */

.services {
    background: #F5F0F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    background-color: #57CC99;
    background-image: linear-gradient(to top, #57CC99 0%, #19647E 100%);
    background-size: 100%;
    margin-bottom: 2rem;
    font-size: 5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 420px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/assets/images/foodpic1.jpg");
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/assets/images/foodpic2.jpg");
}

.services h2 {
    position: absolute;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    font-size: 1.1rem;
    top: 390px;
    left: 30px;
}

.services__btn {
    color: #fff;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F79256;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1.2rem;
    cursor: pointer;
}

.services__btn a {
    text-decoration: none;
    color: #fff;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

/* SERVICES SECTION - MEDIA QUERIES */
@media screen and (max-width: 960px) {
    .services {
        height: 1450px; 
    }

    .services__card {
        margin: 2rem;
    }

    .services__container {
        display: inline-block;
    }

    .services h1 {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .services h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 3rem;
    }

    .services h2 {
        font-size: 1.3rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services__card {
        width: 350px;
        margin: 2rem 0;
    }
}

/* ABOUT SECTION */

.about {
    background-color: #F5F0F6;
}

.about h1 {
    background-color: #57CC99;
    background-image: linear-gradient(to top, #57CC99 0%, #19647E 100%);
    background-size: 100%;
    font-size: 5rem;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 70vh;
    background-color: #F5F0F6;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.about__content {
    display: inline-flexbox;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.about__content h2 {
    background-color: #8F754F;
    background-image: linear-gradient(to top, #8F754F 0%, #D7B377 100%); 
    background-size: 100%;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about__content p {
    text-align: left;
    font-weight: 300;
    font-size: 1.7rem;
    color: #000;
}

.about__content__swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 420px;
}

.about__content__swiper .swiper-pagination {
    margin-top: 360px;
}


/* SWIPER CONTAINER
(credits: https://github.com/nolimits4web/Swiper/blob/master/demos/090-vertical.html) */
.swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-container img {
      max-width: 90%;
      max-height: 90%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }


.swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 0px;
    background: #D7B377;
    outline: none;
    border: none;
    margin: 0 1rem;
}

/* ABOUT SECTION - MEDIA QUERIES */

@media screen and (max-width: 960px) {
    .about__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .about__content {
        text-align: center;
        max-width: 60%;
    }

    .about__content p {
        text-align: center;
    }

    .about h1 {
        margin-bottom: 32px;
    }

    .about h2 {
        font-size: 2.6rem;
    }

    .about__content__swiper {
        display: flex;
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .about {
        height: 900px;
    }
    
    .about h1 {
        font-size: 4rem;
    }

    .about h2 {
        font-size: 2.4rem;
    }

    .about__content__swiper {
    width: 500px;
    height: 360px;
    }

    .swiper-pagination .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 480px) {
    .about h1 {
        font-size: 3rem;
    }

    .about__container {
        padding: 0;
    }

    .about__content h2 {
        font-size: 2.2rem;
    }

    .about__content p {
        font-size: 1.4rem;
    }
    
    .about__content__swiper {
        width: 380px;
        height: 240px;
    }

    .swiper-container img {
        width: 80%;
        height: 80%;
    }

    .swiper-pagination .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        margin: 0 0.6rem;
    }
}

/* CONTACT SECTION */

.contact {
    background-color: #F5F0F6;
}

.contact h1 {
    background-color: #57CC99;
    background-image: linear-gradient(to top, #57CC99 0%, #19647E 100%);
    background-size: 100%;
    margin-bottom: 2rem;
    font-size: 5rem;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 70vh;
    background-color: #F5F0F6;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.contact__content__img {
    text-align: right;
}

.contact__content__img img {
    width: 80%;
    height: 80%;
    margin-right: 40px;
}

.contact__content {
    display: inline-flexbox;
    margin-left: 40px;
    position: relative;
    width: 100%;
}

.contact__content h2 {
    text-align: left;
    background-color: #8F754F;
    background-image: linear-gradient(to top, #8F754F 0%, #D7B377 100%); 
    background-size: 100%;
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.contact__content p {
    text-align: left;
    font-weight: 300;
    font-size: 1.7rem;
    color: #000;
}

.contact__btn {
    text-transform: uppercase;
    font-size: 1.4rem;
    background-color: #D7B377;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 1.5rem;
    cursor: pointer;
    outline: none;
    transition: 0.35s ease;
}

.contact__btn a {
    color: #fff;
    text-decoration: none;
}

.contact__btn:hover {
    background-color: #8F754F;
    color: #FFF;
}

.contact__btn a:hover {
    background-color: #8F754F;
    color: #FFF;
    transition: all 0.35s ease;
}

/* CONTACT CONTAINER - MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .contact__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .contact__content__img {
    text-align: center;
    }

    .contact__content__img img {
        margin-right: 0;
        width: 70%;
        height: 70%;
    }

    .contact__content {
        margin-left: 0;
        text-align: center;
    }
    
    .contact__content h2 {
        text-align: center;
    }

    .contact__content p {
        text-align: center;
    }

    .contact h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px) {
    .contact h1 {
        font-size: 3rem;
    }

    .contact__content h2 {
        font-size: 2.2rem;
    }

    .contact__content p {
        font-size: 1.4rem;
    }
}


/* FOOTER SECTION */

.footer {
    background-color: #F5F0F6;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#footer__logo {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 8rem;  
    margin: 80px 0; 
}

.social__media {
    width: 100%;
}

.social__media__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.social__icon__link {
    color: #000;
    font-size: 3.2rem;
}

.social__icon__link:hover {
    color: #F79256;
    transition: all 0.2s ease;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

.copy__rights {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

/* FOOTER SECTION - MEDIA QUERIES */

@media screen and (max-width: 768px) {
    #footer__logo {
    font-size: 6rem;  
    margin: 60px 0; 
    }

    .social__icon__link {
    font-size: 2.8rem;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        padding: 2rem 0;
        height: 40vh;
    }

    #footer__logo {
    font-size: 4rem;  
    margin: 40px 0; 
    }

    .social__icon__link {
    font-size: 2.4rem;
    }

    .social__icons {
        width: 260px;
    }

    .copy__rights {
        font-size: 1rem;
    }
}

@media screen and (max-width: 410px) {
    .footer {
        padding: 0;
        height: 30vh;
    }
    #footer__logo {
    font-size: 3rem;  
    margin: 20px 0; 
    }

    .social__icon__link {
    font-size: 2.5rem;
    }

    .social__icons {
        width: 220px;
    }
}

/* ------------------------ RECIPE.HTML ------------------------ */
/* ------------------------------------------------------------- */

#recipe__main {
    background-color: #F5F0F6;
}

.recipe__container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F0F6;
    margin: 0 auto;
    padding: 30px 50px;
}

.recipe__container .header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 4.2rem;
    background-color: #57CC99;
    background-image: linear-gradient(to top, #57CC99 0%, #19647E 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: margin 600ms, font-size 600ms;
}

.recipe__container form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 320px;
    margin-top: 10px;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1.5px solid #000;
}

.recipe__container input {
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 1.8rem;
}

.recipe__container .fa-search {
    font-size: 1.8rem;
    color: rgb(168, 168, 168);
}

.recipe__container h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
}


/* RECIPE CONTAINER -- BEFORE */

.recipe__container.before {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F0F6;
    margin: 0 auto;
    padding: 30px 50px;
}

.recipe__container.before .header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10rem;
    font-size: 7rem;
    background-color: #57CC99;
    background-image: linear-gradient(to top, #57CC99 0%, #19647E 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.recipe__container.before form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 520px;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1.5px solid #000;
}

.recipe__container.before input {
    width: 100%;
    background-color: transparent;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 4rem;
}

.recipe__container input::placeholder {
    color: rgb(168, 168, 168);
}

.recipe__container.before .fa-search {
    font-size: 3rem;
    color: rgb(168, 168, 168);
}

.search__result {
    display: grid;
    grid-gap: 1.5rem;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
}

.search__result__item {
    margin-top: 4rem;
    background-color: rgb(218, 218, 218);
    border-radius: 4px;
    padding: 1rem;
    overflow: hidden;
}

.search__result__item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
    object-fit: cover;
}

.result__item__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result__item__details h2 {
    font-size: 1.8rem;
    margin-top: 10px;
}

.result__item__data {
    text-transform: capitalize;
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
}

.view__btn {
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: #D7B377;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}

.view__btn a {
    color: #fff;
    text-decoration: none;
}

.view__btn:hover {
    background-color: #8F754F;
    color: #FFF;
    transition: all 0.25s ease;
}

.view__btn a:hover {
    background-color: #8F754F;
    color: #FFF;
    transition: all 0.25s ease;
}

/* RECIPE CONTAINER - MEDIA QUERIES */

@media screen and (max-width: 960px) {
    .recipe__container.before .header {    
        margin-top: 8rem;
        font-size: 5rem;
    }
    
    .recipe__container.before form {
        max-width: 420px;
        margin-top: 20px;
    }
    
    .recipe__container.before input {
        padding: 10px 0;
        font-size: 2.5rem;
    }

    .recipe__container.before .fa-search {
        font-size: 2.5rem;
    }
}

/* ------------------------ CONTACT.HTML ------------------------ */
/* ------------------------------------------------------------- */

#contactform__main {
    background-color: #F5F0F6;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: first-baseline;
    align-items: center;
    height: auto;
    min-height: 90vh;
}

.contactform__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    height: 70vh;
    background-color: #F5F0F6;
    width: 100%;
    padding: 0 50px;
}

.contact__header {
    background-color: #57CC99;
    background-image: linear-gradient(to top, #57CC99 0%, #19647E 100%);
    background-size: 100%;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.form__control {
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
  }

.form__control label {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
  }

.form__control input {
    padding: 10px;
    border-radius: 0px;
    width: 570px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.3rem;
    font-weight: 300;
    outline: none;
    color: #333;
  }

.form__control input::placeholder {
    color: rgb(168, 168, 168);
}

.form__control textarea {
        width: 570px;
        background: transparent;
        border-radius: 0px;
        outline: none;
        border: none;
        border-bottom: 1px solid #000;
        padding: 10px;
        height: 140px;
        font-weight: 300;
        font-size: 1.3rem;
        resize: none;
}

.form__control textarea::-webkit-scrollbar {
    background-color: #F5F0F6;
}

.form__control textarea::-webkit-scrollbar-thumb {
    background-color: #000;
}

.form__control textarea::placeholder {
    color: rgb(168, 168, 168);
}

.contactform__container button {
        text-transform: uppercase;
        font-size: 1.3rem;
        background-color: #D7B377;
        padding: 10px 28px;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        outline: none;
        transition: 0.35s ease;
}

.contactform__container button:hover {
    background-color: #8F754F;
    color: #FFF;
}

.error {
    color: red;
    font-weight: 300;
    font-size: 1.3rem;
    margin: 6px 0 0 10px;
}

.hide {
    opacity: 0;
}

.form__control input.invalid {
    border-bottom: 1px solid red;
}

.form__control textarea.invalid {
    border-bottom: 1px solid red;
}

.thank__you {
    text-align: center;
    display: inline-block;
}

.thank__you h3 {
    font-size: 2.2rem;
    font-weight: 300;
}

.thank__you p {
    margin-top: 32px;
    font-weight: 300;
    font-size: 1.3rem;
}

.thank__you i {
    margin: 2rem 1rem 0;
    font-size: 3rem;
}

.thank__you a {
    text-decoration: none;
}

