* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* NAVIGATION BAR */

.navbar {
    background: #383F51;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    font-weight: 700;
    background-color: #DDDBF1;
    background-image: linear-gradient(to top, #E76D83 0%, #F79256 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.fa-pepper-hot {
    margin: 0 0.3rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    font-weight: 400;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 3rem;
    height: 100%;
}

.navbar__links:hover {
    color: #F79256;
    transition: all 0.4s ease;
}


/* NAVBAR - MEDIA QUERIES */

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: center;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        background: #383F51;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        top: 0;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #383F51;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    /*  Function to turn the hamburger menu bars into a cross when actioned;
    credits: https://www.geeksforgeeks.org/how-to-convert-the-hamburger-icon-of-navigation-menu-to-x-on-click/ */

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* HERO SECTION */

.main {
    background-color: #383F51;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #383F51;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 80px;
}

.main__content h1 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 6rem;
    background-color: #DDDBF1;
    background-image: linear-gradient(to top, #DDDBF1 0%, #1BE7FF 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 6rem;
    background-color: #DDDBF1;
    background-image: linear-gradient(to top, #E76D83 0%, #F79256 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__btn {
    text-transform: uppercase;
    font-size: 2rem;
    background-image: linear-gradient(to top, #E76D83 0%, #F79256 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1BE7FF;
    transition: all 0.4s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__content__img {
    text-align: center;
}

#main__img {
    height: 100%;
    width: 100%;
}


/* HERO SECTION - MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 4.5rem;
        margin-top: 4rem;
    }

    .main__content h2 {
        font-size: 4.5rem;
    }
    
    .main__btn {
        font-size: 1.8rem;
        padding: 12px 36px;
        margin: 1rem 1rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 3.5rem;
        margin-top: 4rem;
    }

    .main__content h2 {
        font-size: 3.5rem;
    }

    .main__btn {
        font-size: 1.5rem;
        padding: 10px 32px;
        margin: 1rem 0;
    }
}

/* SERVICES SECTION */

.services {
    background: #383F51;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.services h1 {
    background: #1BE7FF;
    background-image: linear-gradient(to top, #1BE7FF 0%, #DDDBF1 50%, #E76D83 100%);
    background-size: 100%;
    margin-bottom: 2rem;
    font-size: 4rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/assets/images/foodpic1.jpg");
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/assets/images/foodpic2.jpg");
}

.services h2 {
    position: absolute;
    font-size: 2rem;
    letter-spacing: 0.5px;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    font-size: 1.1rem;
    top: 390px;
    left: 30px;
}

.services__btn {
    color: #fff;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #F79256;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1.2rem;
    cursor: pointer;
}

.services__btn a {
    text-decoration: none;
    color: #fff;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

/* SERVICES SECTION - MEDIA QUERIES */
@media screen and (max-width: 960px) {
    .services {
        height: 1600px; 
    }

    .services h1 {
        font-size: 4rem;
        margin-top: 10rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 3rem;
    }

    .services h2 {
        font-size: 1.5rem;
    }

    .services p {
        font-size: 1rem;
    }

    .services__card {
        width: 350px;
    }
}
